/*
 *
 * Sizes in this stylesheet are optimized for mini smarphones.
 * We use the file responsive.css to build up on this and
 * make the page look good on bigger devices too
 *
 */

* {
  box-sizing: border-box;
}

body {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1vh auto;
  padding: 0 5vh;
  max-width: 1500px;
}

header {
  grid-column: 1 / 4;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.about-me {
  grid-column: 1 / 4;
}

.about-me-text {
  grid-column: 1 / 3;
  padding: 0 5vw 0 0;
}

.about-me-pic {
  grid-row: 1 / 1;
  grid-column: 1 / 4;
  justify-self: center;
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}

.skills {
  grid-column: 1 / 4;
}

.skill-list {
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.skill-item {
  margin: 1.5em;
}

.projects {
  grid-column: 1 / 4;
}

.project-list {
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.project-item {
  justify-content: center;
  min-width: 100px;
  max-width: 200px;
  min-height: 120px;
  border: 1px solid black;
  border-radius: 5%;
  margin: 1.5em;
  padding: 1em;
}

.project-item img {
  width: 100%;
}