/*
 *
 * Sizes in this stylesheet are optimized for mini smarphones.
 * We use the file responsive.css to build up on this and
 * make the page look good on bigger devices too
 *
 */

* {
  box-sizing: border-box;
  --color-highlight: #ffd369;
  --color-light: #eee;
  --color-dark: #222831;
}

body {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1vh auto;
  padding: 0 5vh;
  max-width: 1500px;
  background-color: var(--color-dark);
  color: var(--color-light);
}

header {
  justify-content: center;
  grid-column: 1 / 4;
}

h1 {
  font-size: 1.5em;
  color: var(--color-highlight);
}

h2 {
  font-size: 1.25em;
  color: var(--color-highlight);
}

a:link {
  text-decoration: none;
  color: var(--color-dark);
}

.grid {
  display: grid;
}

.flex {
  flex-wrap: wrap;
  display: flex;
}

.about-me {
  grid-column: 1 / 4;
}

.about-me-text {
  grid-column: 1 / 3;
  padding: 0 5vw 0 0;
  font-size: 1.1em;
}

.about-me-pic {
  grid-row: 1 / 1;
  grid-column: 1 / 4;
  justify-self: center;
  width: 100%;
  max-width: 200px;
  height: auto;
  border: 2px solid var(--color-highlight);
  border-radius: 50%;
}

.skills {
  grid-column: 1 / 4;
}

.skill-list {
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.skill-item {
  margin: 1.5em;
}

.projects {
  grid-column: 1 / 4;
}

.project-list {
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.project-item {
  justify-content: center;
  margin: 1.5em;
  padding: 1em;
  min-width: 100px;
  max-width: 200px;
  min-height: 250px;
  max-height: 300px;
  -webkit-box-shadow: 0px 0px 0px 3px var(--color-highlight);
  -moz-box-shadow: 0px 0px 0px 3px var(--color-highlight);
  box-shadow: 0px 0px 0px 3px var(--color-highlight);
  background-color: var(--color-light);
  font-size: 1.2em;
}

.project-item:hover {
  transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 10px 4px var(--color-highlight);
  -moz-box-shadow: 0px 0px 10px 4px var(--color-highlight);
  box-shadow: 0px 0px 10px 4px var(--color-highlight);
}

.project-item img {
  width: 100%;
}

.project-item-text {
  text-align: center;
}